h1{
    font-size: 50px;
    margin-left: 7%;
}
body{
    font-family: 'Poppins', sans-serif;
}
.name-highlight{
    color:chocolate;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}

.half-width img{
    width: 100%;
}